#datePicker {
  margin: 10px 0;
  padding: 8px;
  font-size: 1rem;
}

#exportBtn {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  border-radius: 4px;
}

#exportBtn:hover {
  background-color: #218838;
}

.delete-btn {
  width: 60px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.delete-btn:hover {
  background-color: #c82333;
}
